# Conda environments
*-env

# Xaringan build files
*_files
lectures/workflow-example/.Rhistory
lectures/.DS_Store
workshop-common
.DS_Store
lectures/scatter-gather/scatter-gather.html
lectures/example-reproducibility/example-reproducibility.html

