/* SCSS custom modifications for NBIS presentations using quarto, revealjs and rmarkdown */

/*-- scss:defaults --*/
$code-block-font-size: 0.85em;
$code-block-bg: white;

/*-- scss:rules --*/

// Increase maximum height of output code blocks (default: 400px)
.reveal div.cell-output pre,
.reveal div.cell-output-stdout pre,
.reveal pre code {
    max-height: 500px !important;
    border: 2px solid #a7c947 !important;
    border-radius: 4px !important;
}

.green { color: #a7c947; font-weight: bold }

code.tree {
    line-height: 8px;
    font-size: 18px;
}

.reveal code.stree {
    line-height: 6.6px;
    font-size: 12px;
}

code.sstree {
    line-height: 5.6px;
    font-size: 10px;
}
